<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1HZQmSS169-zwvCeDZMWft6gYEBgPQ4E</string>
	<key>GCM_SENDER_ID</key>
	<string>51356596326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dapo.pizzaApp</string>
	<key>PROJECT_ID</key>
	<string>pizzaapp-e7f7e</string>
	<key>STORAGE_BUCKET</key>
	<string>pizzaapp-e7f7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51356596326:ios:6c54223fa62a364e4f95a7</string>
</dict>
</plist>